body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #3B185F;
}

.header-div
{
	height: 550px;
    background-color: #65cd00;
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}

.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
	color: #3B185F;
}

.features-div:hover
{
	margin-top: -10px;
	color: #3B185F;
}


.features-div i
{
	font-size: 35px;
    font-weight: 300;
    color: #3B185F;
}

.features-div h4
{
    color: #3B185F;
    font-weight: 400;
	
}

.features-div p
{
    color: #3B185F;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
	
}

.more-features-div
{
    margin-top: 40px;
	overflow: hidden;
	color: #3B185F;
}

.more-feature-div
{
    background: #3B185F;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;	
    margin: 70px 0px;
    margin-bottom: 0px;      
    padding: 50px 0px;  
}

.more-feature-div .col-md-6 img
{
    width: 100%;
	color: #3B185F;
}

.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #3B185F;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #3B185F;
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;    
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}

.btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #61C103;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #3B185F;
}

.header-div
{
	height: 550px;
    background-color: #3B185F;
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #f<!-- End col-md-3-->ff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
	color: #3B185F;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.vid-border{
  position: relative;
  height: 480px;
  width: 854px;
  border: 6px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-style: solid;
  border-color: #3B185F;
}
#vid {
  position: absolute;
  top:-5px;
  left:-5px;
  height: 480px;
  width: 854px;
}



